.button-container > * {
  margin-right: 8px;
  margin-bottom: 12px;
}

#button-basic {}

#button-size {}

#button-loading {}

#button-button-group {}

#button-button-group h4 {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
}

#button-button-group h4:first-child {
  margin-top: 0;
}

#button-button-group .ant-btn-group {
  margin-right: 8px;
}

#button-block {}

#button-icon {}

#button-disabled {}

#button-multiple {}

#button-ghost {}
