.empty-container > * {
    margin-bottom: 12px;
}

#empty-basic {}

#empty-simple {}

#empty-customize {}

#empty-config-provider {}

#empty-config-provider .config-provider h3 {
    font-size: inherit;
    margin: 16px 0 8px 0;
}
