.icon-container > * {
  margin-right: 8px;
  margin-bottom: 12px;
}

#icon-basic {}

#icon-basic .icons-list > .anticon {
  margin-right: 6px;
  font-size: 24px;
}

#icon-custom {}

#icon-custom .custom-icons-list > .anticon {
  margin-right: 6px;
}

#icon-two-tone {}

#icon-two-tone .icons-list > .anticon {
  margin-right: 6px;
  font-size: 24px;
}

#icon-iconfont {}

#icon-iconfont .icons-list > .anticon {
  margin-right: 6px;
  font-size: 24px;
}

#icon-old-icons {}
