.table-container > * {
    margin-bottom: 12px;
}

#table-basic {}

#table-jsx {}

#table-row-selection {}

#table-row-selection-and-operation {}

#table-row-selection-custom {}

#table-head {}

#table-reset-filter {}

#table-reset-filter .table-operations {
    margin-bottom: 16px;
}

#table-reset-filter .table-operations > button {
    margin-right: 8px;
}

#table-ajax {}

#table-size {}

#table-size h4 {
    margin-bottom: 16px;
}

#table-bordered {}

#table-bordered th.column-money, td.column-money {
    text-align: right !important;
}

#table-expand {}

#table-colspan-rowspan {}

#table-expand-children {}

#table-fixed-header {}

#table-fixed-columns {}

#table-fixed-columns-header {}

#table-grouping-columns {}

#table-edit-row {}

#table-edit-row .editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}

#table-nested-table {}

#table-dynamic-settings {}

#table-dynamic-settings .components-table-demo-control-bar {
    margin-bottom: 10px;
}

#table-dynamic-settings .components-table-demo-control-bar .ant-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
}
