.samples-header {
    padding: 10px;
}

.samples-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.samples-content > * {
    width: 100%;
    margin-bottom: 48px;
}
