.spin-container > * {
    margin-bottom: 12px;
}

#spin-basic {}

#spin-inside {}

#spin-inside .example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
}

#spin-tip {}

#spin-custom-indicator {}

#spin-size {}

#spin-size .ant-spin {
    margin-right: 16px;
}

#spin-nested {}

#spin-delay-and-debounce {}
