.calendar-container > * {
    margin-bottom: 12px;
}

#calendar-basic {}

#calendar-notice-calendar {}

#calendar-notice-calendar .events {
    list-style: none;
    margin: 0;
    padding: 0;
}

#calendar-notice-calendar .events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}

#calendar-notice-calendar .notes-month {
    text-align: center;
    font-size: 28px;
}

#calendar-notice-calendar .notes-month section {
    font-size: 28px;
}

#calendar-card {}

#calendar-select {}

#calendar-customize-header {}
