.samples-container {
  margin: 20px;
  text-align: center;
}

.samples-content {
  margin: 50px;
}

.samples-code-box {
  padding: 10px 20px;
  background: lightgrey;
  border: darkgrey 1px solid;
}

.samples-code {
  display: flex;
  flex-flow: row nowrap;
}

.samples-code * {
  margin: 5px;
}

.samples-code span {
  margin-left: auto;
}
