.progress-container > * {
  margin-bottom: 12px;
}

#progress-line {}

#progress-line-mini {}

#progress-circle-dynamic {}

#progress-format {}

#progress-format div.ant-progress-circle, div.ant-progress-line {
  margin-right: 8px;
  margin-bottom: 8px;
}

#progress-segment {}

#progress-gradient-line {}

#progress-circle {}

#progress-circle .ant-progress-circle-wrap, .ant-progress-line-wrap {
  margin-right: 8px;
  margin-bottom: 5px;
}

#progress-circle-mini {}

#progress-dynamic {}

#progress-dashboard {}

#progress-linecap {}
