.badge-container > * {
    margin-right: 8px;
    margin-bottom: 12px;
}

#badge-basic {}

#badge-basic .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-basic .head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
}

#badge-overflow {}

#badge-overflow .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-overflow .head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
}

#badge-link {}

#badge-link .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-link .head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
}

#badge-status {}

#badge-no-wrapper {}

#badge-no-wrapper .ant-badge-not-a-wrapper:not(.ant-badge-status) {
    margin-right: 8px;
}

#badge-dot {}

#badge-dot .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-change {}

#badge-change .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-change .head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
}

#badge-title {}

#badge-title .ant-badge:not(.ant-badge-not-a-wrapper) {
    margin-right: 20px;
}

#badge-title .head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
}

#badge-colorful {}

#badge-colorful .ant-tag {
    margin-bottom: 8px;
}
