.page-header-container > * {
    margin-bottom: 12px;
}

#page-header-basic {}

#page-header-basic .ant-page-header {
    border: 1px solid rgb(235, 237, 240);
}

#page-header-content {}

#page-header-content .wrap {
    display: flex;
}

#page-header-content .content {
    flex: 1;
}

#page-header-content .extraContent {
    min-width: 240px;
    text-align: right;
}

#page-header-content .contentLink {
    padding-top: 16px;
}

#page-header-content .contentLink a {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 32px;
}

#page-header-content .contentLink a img {
    margin-right: 8px;
}

#page-header-actions {}

#page-header-actions .wrap {
    display: flex;
}

#page-header-actions .content {
    flex: 1;
}

#page-header-actions .extraContent {
    min-width: 240px;
    text-align: right;
}

#page-header-actions .content.padding {
    padding-left: 40px;
}

#page-header-actions .content .description {
    display: table;
}

#page-header-actions .description .term {
    display: table-cell;
    margin-right: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    line-height: 20px;
}

#page-header-actions .description .term:after {
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
    content: ":";
}

#page-header-actions .description .detail {
    display: table-cell;
    padding-bottom: 8px;
    width: 100%;
    line-height: 20px;
}

#page-header-breadcrumb {}
