.cascader-container > * {
  width: 400px;
  margin-bottom: 12px;
}

.cascader-container a {
  color: #1890ff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s ease;
}

#cascader-basic {}

#cascader-custom-trigger {}

#cascader-disabled-option {}

#cascader-size {}

#cascader-search {}

#cascader-field-names {}

#cascader-default-value {}

#cascader-hover {}

#cascader-change-on-select {}

#cascader-custom-render {}

#cascader-lazy {}

#cascader-suffix {}
